.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 32px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.options {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding-top: 40px;
}